---
import Layout from "@layouts/MainLayout.astro";
import { astroI18n, t } from "astro-i18n";
import { getLangFromUrl, getUrlWithTranslation } from "@utils";
import projects from "@data/pinned.json";
import ProjectCard from "@components/ProjectCard.astro";
import BasicLink from "@components/BasicLink.astro";

astroI18n.init(Astro);

const lang = getLangFromUrl(Astro.url);
---

<Layout title={undefined}>
	<main>
		<section id="introduction">
			<p><span>{t("home.hello")}</span><h1>Nicolas Renault</h1></p>
			<p>
				{t("home.intro_1")}
				<span id="fullstack" class="fullstack">FullStack</span>
				{t("home.intro_2")}
				<BasicLink
					text="Github"
					href="https://github.com/NicolasRenault"
					title="Github"
					target="_blank"
				/>
				<span class="ending-dot">.</span>
			</p>
			<p>{t("home.work")}</p>
			<p>{t("home.passions")}</p>
		</section>
		<section id="working_experiences" class="col-1">
			<h2>{t("home.working_experiences")}</h2>
			<ul>
				<li>
					<BasicLink
						text="Trelleborg"
						href="https://www.trelleborg.com"
						title="Trelleborg"
						target="_blank"
					/>
					<p class="job-description">{t("global.IT_developer")}</p>
					<p class="job-dates">2021 - {t("global.present")}</p>
				</li>
				<li>
					<BasicLink
						text="Uplight"
						href="https://www.uplight.fr/"
						title="Uplight"
						target="_blank"
					/>
					<p class="job-description">{t("home.fullstack_web_developer")}</p>
					<p class="job-subtitle">{t("global.block_release_training")}</p>
					<p class="job-dates">2020 - 2021</p>
				</li>
			</ul>
		</section>
		<section id="selected_projects">
			<h2>{t("home.selected_projects")}</h2>
			<div id="pinned_projects">
				{
					projects.map((project) => (
						<ProjectCard
							title={project.title}
							description={t(project.description)}
							icon={project.icon}
							project_link={getUrlWithTranslation(project.url, lang)}
							github_link={project.github}
							subtitle={project.subtitle}
							languages={project.languages}
						/>
					))
				}
				<BasicLink
					text={t("home.see_more_projects")}
					href={getUrlWithTranslation("projects", lang)}
					title="Projects"
				/>
			</div>
		</section>
	</main>

	<script>
		/**
		 * Change the text of the FullStack span to Backend when the mouse is over it
		 */
		const FullStack = document.getElementById("fullstack");
		FullStack?.addEventListener("mouseover", () => {
			FullStack.innerText = "Backend";
			FullStack.classList.add("backend");
			FullStack.classList.remove("fullstack");
		});
		FullStack?.addEventListener("mouseout", () => {
			FullStack.innerText = "FullStack";
			FullStack.classList.add("fullstack");
			FullStack.classList.remove("backend");
		});
	</script>
</Layout>

<style lang="scss">
	main {
		font-size: 1.6rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;

		h1 {
			font-size: 5rem;
			font-weight: 800;
		}

		h2 {
			font-size: 3rem;
		}

		.col-1 {
			grid-column: 1;
		}

		#working_experiences {
			p {
				margin: 1rem 0;
			}

			ul {
				//TODO find a good list style
				list-style: none;
				// padding: 0;
			}

			li:not(:last-child) {
				margin-bottom: 4rem;
			}
			li :global(a) {
				font-size: 2rem;
				font-weight: 600;
			}

			.job-description {
				font-size: 1.8rem;
			}

			.job-subtitle {
				color: var(--text-dark-gray-rgb);
				font-size: 1.6rem;
				margin-top: -1rem;
			}

			.job-dates {
				font-size: 1.4rem;
			}
		}

		#pinned_projects {
			:global(> a) {
				margin: 1rem;
			}
		}

		.fullstack {
			text-decoration: underline wavy red from-font;
			text-underline-offset: 2px;
		}
		.backend {
			color: var(--tertiary-light-rgb);
		}
	}

	@media (max-width: 1024px) {
		main {
			font-size: 1rem;
		}
	}

	@media (max-width: 768px) {
		main {
			grid-template-columns: 1fr;
			gap: 0;
		}
	}
</style>
