---
import Layout from "@layouts/MainLayout.astro";
import projects from "@data/projects.json";
import { Image } from "astro:assets";

const years = Object.keys(projects).sort((a, b) => parseInt(b) - parseInt(a));

interface Project {
	name: string;
	description: string;
	url: string;
	createdAt: Date;
	languages: string[];
	year?: number;
	icon?: string;
	pinned?: boolean;
	fork?: string;
}
---
<Layout title="Home" pathname="homepage" lang="en">

  <section class="section-wrapper">
    <div>
      <h1 class="text-8xl mb-4 text-heading">Nicolas Renault</h1>
      <p class="text-lg text-content">This is the homepage of my Astro project.</p>
    </div>
  </section>
  <section id="projects" data-theme="dark" class="section-wrapper">
    <div class="p-0 text-content">
      <header class="py-20 px-10 border-b border-border/20 w-full">
        <h2 class="text-6xl text-heading pb-4">Projects</h2>
        <p class="text-xl md:w-[50%]">Here is a list of my personnal projects. Most of them are Open Source. Feel free to check them on my 
          <a href="https://github.com/NicolasRenault?tab=repositories" target="_blank" class="link-animation active">Github</a>.
        </p>
      </header>
      <div class="w-full h-full flex">
        <div class="w-full border-border/20">
          {
            years.map((year) => {
              const currentProjects = (projects as any)[year];

              return (
                <>
                  {
                    currentProjects.map((project: Project) => {
                      const name = project.name.charAt(0).toLowerCase() + project.name.slice(1); //Lowercase first letter

                      return (
                        <div id={name} data-name={name} class="project-card m-10">{name}</div>
                      )
                    })
                  }
                
                </>
              )
            })
          }
        </div>
        <div class="w-96 text-lg border-border/20 border-l p-10 text-content/50">
          {
            years.map((year) => {
              const currentProjects = (projects as any)[year];

              return (
                <>
                  <div id={year + "-projects"}>
                    <p id={year} class="year-title w-fit m-1 relative text-content">
                      {year}
                      {["2021", "2020", "2019"].includes(year) && (
                        <span data-twomi18n="school-projects" class="text-sm">School Projects</span>
                      )}
                    </p>
                    <div id={year + "-projects-container"} class="flex flex-col">                  
                      {
                        currentProjects.map((project: Project) => {
                          const name = project.name.charAt(0).toLowerCase() + project.name.slice(1); //Lowercase first letter

                          return (
                            <div class="relative w-fit">
                              <button id={"button-" + name} data-name={name} data-year={year} class="project-button flex max-w-fit ml-3 my-1 whitespace-nowrap link-animation cursor-pointer" class:list={["link-animation", {icon: project.icon}]}>
                                {project.icon && <Image src={project.icon} alt={`${name} icon`} width="22" height="22" class="absolute top-0.75 -left-7 w-full h-full max-w-5.5 max-h-5.5 grayscale"/>}
                                {name}
                              </button>
                            </div>
                          );
                        })
                      }
                    </div>
                  </div>
                </>
              );
            })
          }
        </div>
      </div>
    </div>
  </section>
  <section class="section-wrapper ">
    <div>
      <h1 class="text-4xl font-bold mb-4 text-heading">Welcome to My Astro Site</h1>
      <p class="text-lg text-content">This is the homepage of my Astro project.</p>
    </div>
  </section>
</Layout>

<style>
  @reference "../styles/global.css";

  .year-title.active::before {
    content: "";
    @apply absolute bottom-0 left-0 w-full h-1 bg-content transition-all duration-400;
  }

  .project-button.active {
    @apply text-content
  }
  .project-button.active img {
    @apply grayscale-0
  }
</style>

<script>
  const yearsTitles = document.getElementsByClassName("year-title");
  const projectsButtons = document.getElementsByClassName("project-button");
  const projectsCards = document.getElementsByClassName("project-card");

  for (const element in projectsButtons) {
    if (Object.hasOwnProperty.call(projectsButtons, element)) {
      const project = projectsButtons[element] as HTMLElement;
      project.addEventListener("click", () => {
        const name = project.dataset.name;
        const year = project.dataset.year;
        const yearTitle = document.getElementById(year as string);
        console.log(yearTitle);
        removeProjectActiveClass();
        project.classList.add("active");
        yearTitle?.classList.add("active");

        const projectCard = document.getElementById(name as string);

        if(projectCard) {
          hideAllProjectCard();
          projectCard.classList.remove("hidden");
        }
      })
    }
  }


  /**
   * Remove class .active to all the .year-title and .projects-button 
   */
  function removeProjectActiveClass() {
    //Years titles
    for (const element in yearsTitles) {
      if (Object.hasOwnProperty.call(yearsTitles, element)) {
        const project = yearsTitles[element];
        
        project.classList.remove("active");
      }
    }

    //Projects buttons
    for (const element in projectsButtons) {
      if (Object.hasOwnProperty.call(projectsButtons, element)) {
        const project = projectsButtons[element];
        
        project.classList.remove("active");
      }
    }
  }

  /**
   * Add class .hidden to all the .project-card
   */
  function hideAllProjectCard() {
    for (const element in projectsCards) {
      if (Object.hasOwnProperty.call(projectsCards, element)) {
        const cards = projectsCards[element];
        
        cards.classList.add("hidden");
      }
    }
  }

  hideAllProjectCard(); //Hide all projects by default;
</script>