---
import Layout from "@layouts/MainLayout.astro";
import { astroI18n, t } from "astro-i18n";
import { getLangFromUrl, getTranslatedDescription, getUrlWithTranslation } from "@utils";
import projects from "@data/homepage-pinned.json";
import ProjectCard from "@components/ProjectCard.astro";
import BasicLink from "@components/BasicLink.astro";

astroI18n.init(Astro);

const lang = getLangFromUrl(Astro.url);
---

<Layout title={undefined} pathname="homepage">
	<main>
		<section id="introduction">
			<p><span>{t("home.hello")}</span><h1>Nicolas Renault</h1></p>
			<p>{t("home.me")}</p>
			<p>{t("home.technologies")}</p>
			<p>{t("home.motivations")}</p>
			<p>{t("home.passions")}</p>
			<p>{t("home.work")}</p>
		</section>
		<section id="working_experiences" class="col-1">
			<h2>{t("home.working_experiences")}</h2>
			<ul>
				<li>
					<BasicLink
						text="Trelleborg"
						href="https://www.trelleborg.com"
						title="Trelleborg"
						target="_blank"
					/>
					<p class="job-description">{t("global.application_developer")}</p>
					<p class="job-dates">2021 - {t("global.present")}</p>
				</li>
				<li>
					<BasicLink
						text="Uplight"
						href="https://www.uplight.fr/"
						title="Uplight"
						target="_blank"
					/>
					<p class="job-description">{t("home.fullstack_web_developer")}</p>
					<p class="job-subtitle">{t("global.block_release_training")}</p>
					<p class="job-dates">2020 - 2021</p>
				</li>
			</ul>
		</section>
		<section id="selected_projects">
			<h2>{t("home.selected_projects")}</h2>
			<div id="pinned_projects">
				{
					projects.map((project) => (
						<ProjectCard
							title={project.title}
							description={
								getTranslatedDescription(project.title, lang) ?? project.description
							}
							icon={project.icon}
							project_link={getUrlWithTranslation(project.url, lang)}
							github_link={project.github}
							subtitle={project.subtitle}
							languages={project.languages}
						/>
					))
				}
				<BasicLink
					text={t("home.see_more_projects")}
					href={getUrlWithTranslation("projects", lang)}
					title="Projects"
				/>
			</div>
		</section>
	</main>
</Layout>

<style lang="scss">
	main {
		font-size: 1.6rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 4rem 2rem;
		margin: auto;

		#introduction {
			line-height: calc(1.5 * 100%);
		}

		h1 {
			font-size: 5rem;
			font-weight: 800;
			line-height: calc(1.1 * 100%);
		}

		h2 {
			font-size: 2.5rem;
			margin-top: 1rem;
			margin-bottom: 1rem;
		}

		.col-1 {
			grid-column: 1;
		}

		#working_experiences {
			--font-size: 2rem;

			p {
				margin: calc(var(--font-size) / 2) 0;
			}

			ul {
				list-style: none;
				margin-top: 3rem;
				padding-inline-start: 1rem;
			}

			li:not(:last-child) {
				margin-bottom: calc(var(--font-size) * 2);
			}
			li :global(a.basic-link) {
				font-size: var(--font-size);
				font-weight: 600;
			}

			.job-description {
				font-size: calc(var(--font-size) - 0.2rem);
			}

			.job-subtitle {
				color: var(--text-gray-rgb);
				font-size: calc(var(--font-size) - 0.4rem);
				margin-top: -1rem;
			}

			.job-dates {
				font-size: calc(var(--font-size) - 0.6rem);
			}
		}

		#pinned_projects {
			:global(> a.basic-link) {
				margin: 1rem;
			}
		}

		.fullstack {
			text-decoration: underline wavy red from-font;
			text-underline-offset: 2px;
		}
		.backend {
			color: var(--tertiary-light-rgb);
		}
	}

	@media (width > 1024px) {
		#introduction {
			width: 65% !important;
		}
	}
	@media (width <= 1024px) {
		main {
			font-size: 1rem;

			#introduction {
				font-size: 1.25rem;
			}

			#pinned_projects {
				:global(> a.basic-link) {
					font-size: 1.25rem;
				}
			}
		}
	}

	@media (width > 768px) {
		#introduction {
			grid-column: span 2;
			width: 75%;
		}
	}
	@media (width <= 768px) {
		main {
			grid-template-columns: 1fr;
			gap: 2rem;

			#introduction {
				font-size: 1.1rem;
			}

			h1 {
				font-size: 3.5rem;
			}

			h2 {
				font-size: 2rem;
			}

			#working_experiences {
				--font-size: 1.75rem;
			}
		}
	}

	@media (width <= 480px) {
		main {
			margin: auto;

			#introduction {
				font-size: 1rem;
			}

			h1 {
				font-size: 2.5rem;
			}

			h2 {
				font-size: 1.75rem;
			}

			#working_experiences {
				--font-size: 1.4rem;
			}
		}
	}

	@media (width <= 335px) {
		#pinned_projects {
			margin-left: -20px;
		}
	}
</style>
