---
import Layout from "@layouts/MainLayout.astro";
import { getLangFromUrl, getUrlWithTranslation, getTranslatedDescription } from "@utils";
import { astroI18n, t } from "astro-i18n";
import projects from "@data/projects.json";
import contributions from "@data/contributions.json";
import ProjectCard from "@components/ProjectCard.astro";

astroI18n.init(Astro);
const lang = getLangFromUrl(Astro.url);

const years = Object.keys(projects).sort((a, b) => parseInt(b) - parseInt(a));
const contributionsList = Object.keys(contributions);

interface Project {
	name: string;
	description: string;
	url: string;
	createdAt: Date;
	languages: string[];
	year?: number;
	icon?: string;
	pinned?: boolean;
	fork?: string;
}
---

<Layout title={t("navbar.projects")}>
	<main>
		<h1>{t("navbar.projects")}</h1>
		{
			years.map((year) => {
				const currentProjects = (projects as any)[year];

				return (
					<>
						<h2>
							{year}
							{["2021", "2020", "2019"].includes(year) && (
								<span>{t("projects.school_projects")}</span>
							)}
						</h2>
						<div id={year}>
							{currentProjects.map((project: Project) => {
								return (
									<ProjectCard
										title={project.name}
										description={
											getTranslatedDescription(project.name, lang) ??
											project.description
										}
										icon={project.icon}
										pinned={project.pinned}
										languages={project.languages}
										fork={project.fork}
										project_link={
											project.pinned
												? getUrlWithTranslation(
														"project/" + project.name,
														lang
												  )
												: project.url
										}
										github_link={project.pinned ? project.url : undefined}
									/>
								);
							})}
						</div>
					</>
				);
			})
		}

		<h2>Contributions</h2>
		{
			contributionsList.map((contribution) => (
				<ProjectCard
					title={(contributions as any)[contribution].name}
					description={
						getTranslatedDescription((contributions as any)[contribution].name, lang) ??
						(contributions as any)[contribution].description
					}
					project_link={(contributions as any)[contribution].url}
					languages={(contributions as any)[contribution].languages}
				/>
			))
		}
	</main>

	<style lang="scss">
		main {
			margin: auto;
			padding: 1.5rem;
			max-width: 60ch;
		}

		h2 {
			span {
				font-size: 1rem;
				margin-left: 0.5rem;
				color: var(--text-gray-rgb);
			}
		}
	</style>
</Layout>
