---
import { redirectTargets, type RedirectTargets } from "@data/footer-redirect-map";

const { origin, theme } = Astro.props;

let redirect = false;
let target = "";
let text_EN = "";
let text_FR = "";

if (origin) {
	if (origin in redirectTargets) {
		redirect = true;
		target = (redirectTargets as RedirectTargets)[origin].target;
		text_EN = (redirectTargets as RedirectTargets)[origin].text_EN;
		text_FR = (redirectTargets as RedirectTargets)[origin].text_FR;
	}
}

let isHomepage = origin == "homepage";
let isRickRoll = origin == "rick-roll";
---

<footer id="page-footer" data-enable-redirect={redirect} data-target={target}>
	<section class="section-wrapper" data-theme={theme}>
		<div class="p-0">
			{
				isHomepage && (
					<div class="border-border/20 text-content/80 border-b px-10 pt-5">
						<header data-twomi18n="footer.explain" class="text-standard">
							Did you know? You can navigate the site only with your scroll wheel! Try
							it by scrolling down as far as you can.
						</header>
					</div>
				)
			}
		</div>
		<div
			class="relative flex h-400 flex-col items-center justify-center gap-12 pt-50 pb-0"
			class:list={[{ "border-0": isRickRoll }]}
		>
			<nr-logo size="xl" rainbow style="color: var(--color-heading)"></nr-logo>
			{
				redirect && (
					<div
						id="sticky-container"
						class="relative bottom-0 flex h-full items-center text-2xl"
					>
						<a
							id="sticky"
							href="#bottom"
							title="Bottom page"
							data-twomi18n="bottom-page[title]"
							class="sticky bottom-[40%] flex flex-col content-center items-center text-center"
						>
							<p class="show-en text-heading mb-5">{text_EN}</p>
							<p class="show-fr text-heading mb-5">{text_FR}</p>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 24 24"
								class="text-heading h-11"
							>
								<path
									fill="currentColor"
									d="M11 4h2v12l5.5-5.5l1.42 1.42L12 19.84l-7.92-7.92L5.5 10.5L11 16z"
								/>
							</svg>
						</a>
					</div>
				)
			}
			<div id="bottom"></div>
		</div>
	</section>
</footer>

<script is:inline>
	const footer = document.querySelector("#page-footer");
	const enableRedirection = footer?.getAttribute("data-enable-redirect") !== null;

	document.addEventListener("scroll", () => {
		if (
			enableRedirection &&
			window.innerHeight + window.scrollY >= document.body.offsetHeight - 50
		) {
			const target = footer?.getAttribute("data-target");
			const lang = document.documentElement.lang;

			setTimeout(() => {
				window.location =
					window.location.origin +
					(target == "/" ? "" : "/" + target) +
					(lang == "en" ? "" : "?lang=" + lang);
			}, 500);
		}
	});
</script>

<!-- TODO Style tag to Tailwind classes -->
<style>
	@reference "../styles/global.css";

	/* TODO: handle animation */
	@media (prefers-reduced-motion: no-preference) {
		/* body.navigateOnScroll :global(#animation-container) {
			transition:
				transform 1s cubic-bezier(0.42, 0, 0.74, 0.74),
				opacity 1s ease-in-out;

			// padding-bottom: 20vh;
			animation: slide-fade-out ease 0.7s;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;

			
		}

		@keyframes slide-fade-out {
			to {
				opacity: 0;
				transform: translateY(-5vh);
			}
		} */
	}
</style>
