---
import { Icon } from "astro-icon";
import { getLangFromUrl, getUrlWithTranslation } from "@utils";

export interface Props {
	title: string;
	subtitle?: string | undefined;
	icon?: string | undefined;
	project_link: string;
	github_link?: string;
	description?: string;
	pinned?: boolean | undefined;
	fork?: string;
	languages?: string[] | undefined;
}

const { title, subtitle, icon, project_link, github_link, description, pinned, fork, languages } =
	Astro.props;

const randomDeg = Math.floor(Math.random() * 360) + "deg";
const lang = getLangFromUrl(Astro.url);
---

<article id={!fork ? title : title + "/fork"} class:list={[{ pinned: pinned }, { fork: fork }]}>
	<div class="border-gradient">
		<a
			href={!fork ? project_link : getUrlWithTranslation("projects", lang) + `#${title}`}
			title={title}
			class="main-link"
		>
			<div class="titles">
				{icon && <img src={icon} alt={`${title} icon`} width="32px" height="32px" />}
				<h3>{title}</h3>
				{subtitle && <h4>{subtitle}</h4>}
			</div>

			{description && <p class="description">{description}</p>}
			{
				languages && (
					<div class="languages">
						{languages.map((lang) => (
							<p>{lang}</p>
						))}
					</div>
				)
			}
			{
				(github_link || fork) && (
					<div class="links">
						{(github_link || (github_link && fork)) && (
							<a
								href={github_link}
								title={"Github link for " + title}
								target="_blank"
							>
								<Icon name="codicon:github" />
							</a>
						)}
						{fork && (
							<a href={fork} title={"Fork link for " + title} target="_blank">
								<Icon name="codicon:repo-forked" />
							</a>
						)}
					</div>
				)
			}
		</a>
	</div>
</article>

<style lang="scss" define:vars={{ randomDeg }}>
	article {
		--gap: 1rem;

		--accent-gradient: linear-gradient(
			var(--randomDeg),
			var(--secondary-rgb),
			var(--tertiary-rgb) 50%,
			var(--text-rgb) 60%,
			var(--tertiary-rgb) 70%,
			var(--secondary-rgb)
		);

		display: block;
		box-sizing: border-box;
		background-image: var(--accent-gradient);
		border-radius: 13px;
		margin: var(--gap);
		padding: 0;
		width: 650px;
		height: 160px;

		color: var(--text-rgb);
		font-size: 1.2rem;

		transition: padding 0.2s ease;

		* {
			box-sizing: border-box;
		}

		&.pinned {
			& .border-gradient {
				// outline: 2px solid darkgoldenrod;
				outline: 2px solid var(--secondary-rgb);
			}
		}

		.border-gradient {
			position: relative;
			padding: var(--gap);
			background-color: var(--primary-light-rgb);
			border-radius: 10px;
			width: 100%;
			height: 100%;
			overflow: hidden;

			transition: outline-width 0.1s ease;

			a {
				color: var(--text-rgb);
				text-decoration: none;
			}
			img,
			svg {
				color: var(--text-rgb);
				aspect-ratio: 1/1;
			}

			.titles {
				display: flex;
				gap: var(--gap);
				align-items: center;
				margin-bottom: var(--gap);

				* {
					margin: 0;
				}

				h3 {
					font-weight: bolder;
					text-decoration: underline 2px var(--secondary-rgb);
					text-underline-offset: 0.3rem;
				}
				h4 {
					font-weight: 500;
					color: var(--text-dark-gray-rgb);
				}
			}

			.description {
				margin: 0.5rem 0;
				font-size: 1.1rem;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}

			.languages {
				display: flex;
				margin-top: var(--gap);
				gap: var(--gap);
				font-size: 1rem;

				p {
					margin-top: calc(var(--gap) / 2);
					margin-bottom: 0;
					background-color: var(--secondary-dark-rgb);
					padding: 0.5rem;
					border-radius: 0.5rem;
				}
			}

			.links {
				position: absolute;
				bottom: var(--gap);
				right: var(--gap);

				display: flex;
				gap: calc(var(--gap) / 2);

				.main-link {
					//Astro generate a unwanted duplication of the main link
					display: none;
				}

				a,
				button {
					display: inline;
					transition: all 0.2s ease-in-out;

					&:hover {
						transform: translateY(-2px);
					}
				}

				img,
				svg {
					width: 1.5rem;
					height: 1.5rem;
				}
			}

			&:has(> .main-link:focus-visible) {
				outline: dashed 3px var(--secondary-rgb);
			}
		}

		&:hover {
			padding: 3px;

			.border-gradient {
				outline: 0px;
			}
			.links {
				bottom: -3px;
			}
		}
	}
</style>
