---
export interface Props {
	title: string;
	subtitle: string | null;
	icon: string;
	project_link: string;
	github_link: string;
	description: string;
	techno: string;
}

const { title, subtitle, icon, project_link, github_link, description, techno } = Astro.props;
---

<div id={title} class="box">
	<a href={project_link} title={title} target="_blank">
		<h3>{title}</h3>
		{subtitle && <h4>{subtitle}</h4>}
		<img src={icon} alt={`${title} icon`} width="32px" />
		<p>{description}</p>
	</a>
	<a href={github_link} title={"Github link for " + title} target="_blank">Github</a>
</div>

<style lang="scss">
	.box {
		display: flex;
		position: relative;
		flex-direction: column;
		padding: 1rem;
		width: 40%;
		color: var(--text-rgb);
		background-color: var(--primary-light-rgb);
		border-radius: 0.5rem;
		margin: 1rem;

		a {
			color: var(--text-rgb);
			text-decoration: none;
		}
		img,
		svg {
			color: var(--text-rgb);
		}
	}
</style>
